// some resers
*,*:hover,*:active {
    outline: none;
    text-decoration: none !important; 
}

.-vertical-align{
    display: table !important;
    > *{
        vertical-align: middle !important;
        display: table-cell !important;
    }
}
.-text-center{
    text-align: center;
}
.-text-right{
    text-align: right;
}
.-text-left{
    text-align: left;
}
.-float-right{
    float: right;
}
.-float-left{
    float: left;
}
.-margin-top-15{
    margin-top: 15px;
}
.-margin-top-25{
    margin-top: 25px;
}
.-margin-top-50{
    margin-top: 50px;
}
.-margin-left-15{
    margin-left: 15px;
}
.-uppercase{
    text-transform: uppercase;
}

// colors variations
.-bg-black{
    background: $black;
}
.bg-pink{
    background: $pink;
}
.-bg-pink2{
    background: $pink2;
}
.-color-black{
    color: $black;
}
.-color-pink{
    color: $pink;
}
.-color-pink2{
    color: $pink2;
}
.-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;       
}