.index{
    .main-slider{
        @extend .-no-select;
        > .swiper-wrapper{
            > .swiper-slide{
                > img{
                    width: 100%;
                }
                > .pop{
                    height: 170px;
                    width: 170px;
                    padding: 50px 25px;
                    background: linear-gradient(#ec3131, #e71881) center / contain no-repeat;
                    position: absolute;
                    border-radius: 100%;
                    top: calc(50% - 180px / 2);
                    right: 20%;
                    text-align: center;
                    display: block;
                    color: white;
                    box-shadow: 1px 4px 15px 1px rgba(0,0,0,0.5);
                    transition: .3s;
                    &:hover{
                        opacity: .9;
                        transition: .3s;
                    }
                    > .discount{
                        font: 40px $sec-font;
                        margin-bottom: 10px;
                        font-weight: 700;
                        display: block;
                        line-height: 1;
                        width: 100%;
                    }
                    > .location{ 
                        font-size: 14px;                   
                    }
                }
            }
        }
    }

    .content.welcome{
        background: none;
        h3,h2{
            margin: 0;
            color: $black;
        }
        h2{
            font: 35px $pri-font;
            font-weight: bold;
        }
        h3{
            font: 24px $pri-font;
            
        }
        .steps{
            background: url(./../images/ComoFunciona.png) center / contain no-repeat;
            @media (max-width: $screen-sm){
                background: url(./../images/ComoFuncionaMobile.png) center / contain no-repeat;
                height: 800px;
            }
            > .step1,
            > .step2,
            > .step3{
                // background: #333;
                height: 400px;
            }
            > .step1{}
            > .step2{}
            > .step3{}
        }
    }
}