.login{
    .inner{
        max-width: 50%;
        @media(max-width: $screen-sm){
            margin-top: -50px;
            max-width: 80%;
            margin-bottom: 50px;
        }
        margin: 150px auto;
        h1{
            color: $pink;
            font: 35px $pri-font;
            font-weight: 700;
        }
        .input{
            width: 100%;
            padding: 15px 25px;
            margin-top: 15px;
            font: 18px $sec-font;
            font-weight: 300;
            border-radius: 2px;
            border: #CCC 1px solid;
            &:focus{
                border: rgba($color: $pink, $alpha: .4) 1px solid;
                color: $pink;
            }
        }
        .submit{
            margin: 15px auto;
            display: block;
            background: $pink;
            font: 18px $sec-font;
            font-weight: 300;
            text-transform: uppercase;
            padding: 15px 25px;
            border: none;
            border-radius: 2px;
            color: white;
            transition: .3s;
            &:hover{
                transition: .3s;
                background: $black;
            }
        }
        .notifications{
            text-align: right;
            > .notification{
                display: block;
                text-align: right;
                font: 13px $sec-font;
                font-weight: 700;
                color: $pink;
            }
        }
    }
}

// aqueles bloquinhos em volta
@media(min-width: $screen-sm){
    .login{
        &:after{
            content: "";
            position: absolute;
            bottom: 80px;
            left: -50px;
            height: 280px;
            width: 280px;
            background: url(/images/circulocortado.png) center / contain no-repeat;
            z-index: 0;
        }
        a.ative-cpf{
            position: fixed;
            top: 30%;
            right:0;
            height: 400px;
            width: 350px;
            background: url(/images/AtiveCPF_Login.png) center right / contain no-repeat;
            z-index: 0;
        }
    }

}

@media(min-width: $screen-sm){
    .login + footer{
        position: absolute;
        bottom: 15px;
    }
}
