.sidebar{
    background: white;
    height: auto;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.4);
    z-index: 2;
    @media(min-width: $screen-sm){
        margin-top: 100px;
    }
    @media(max-width: $screen-sm){
        margin-bottom: 25px;
    }
    > ul{
        margin: 0;
        padding: 0;
        > a{
            display: block;
            padding: 20px 25px;
            color: $black;
            font: 14px $sec-font;
            text-transform: uppercase;
            text-align: right;
            transition: .2s;
            &:hover,
            &.-active{
                background: $black;
                color: white;
            }
            &:nth-of-type(n+2){
                border-top: 1px solid #CCC;
            }
            & + .submenu{
                > .inner{
                    
                }
            }
        }
    }
}